.container {
  height: 100vh;
}

.header-title {
  padding: 0 30px;
  height: 64px;
  background-color: #e63513;
  color: #fff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.header-title .logo {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.header-title h1 {
  margin-left: 10px;
}
