@use "../theme/palettes" as p;

.app-container {
  height: 100vh;
  background-color: #ffffff;
}

.header-title {
  .logo {
    height: 50px;
    width: 50px;
  }

  .logo-placeholder {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: map-get(p.$primary, 500);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
  }

  span {
    font-size: larger;
    font-weight: bold;
  }
}

.app-sidenav {
  width: 260px;

  .header-title {
    padding: 0.8em 1em;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.mini-sidenav {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  .header-title {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}

.nav-list {
  padding: 1.5em;
}

.nav-label {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-bottom: 0.4em;
  margin-left: 0.2em;
}

.nav-item {
  border-radius: 0.4em;

  &.mdc-list-item.mdc-list-item--with-one-line {
    height: 2.8125em;
  }
}

.app-content {
  &.sidenav-closed {
    padding-left: 60px;
  }
}

.header-row {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
