.header-title {
  padding: 0.8em 1em;
}

.header-title .logo {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.header-title span {
  font-size: larger;
  font-weight: bold;
}

.app-container {
  height: 100vh;
  background-color: #ffffff;
}

.app-sidenav {
  width: 260px;
}

.spacer {
  flex: 1 1 auto;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  height: 40px;
}

.nav-list {
  padding: 1.5em;
}

.nav-label {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-bottom: 0.4em;
  margin-left: 0.2em;
}

.nav-item {
  border-radius: 0.4em;

  &.mdc-list-item.mdc-list-item--with-one-line {
    height: 2.8125em;
  }
}
