.example-container {
  position: relative;
  min-height: calc(100vh - 64px);
}

.example-container .header-row {
  height: 64px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit-details-card {
  margin: 1em 10em;

  .unit-details-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .unit-details {
      flex: 0 0 60%;

      .unit-details-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 16px;
        align-items: start;
      }
    }

    .unit-details,
    .unit-image {
      box-sizing: border-box;
      padding: 1em;
    }

    .unit-image {
      flex: 0 0 40%;
      text-align: right;

      img,
      .image-placeholder {
        max-width: 250px;
        width: 100%;
        border-radius: 4px;
      }

      img {
        height: auto;
        object-fit: cover;
        cursor: pointer;
      }

      .image-placeholder {
        height: 100%;
        background-color: #e0e0e0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #2a3547;
        font-size: 12px;
      }
    }
  }
}

// -----

.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: solid 1px #97b0b5;
  margin-top: 8px;
}

.actions-wrapper .mat-card-actions {
  margin: 0;
}

.expenses-label {
  margin: 0;
}

.primary-button {
  background-color: #e63513;
}

.primary-button:hover {
  background-color: #b82a0f;
}

.delete-button,
.back-button {
  background-color: #808080;
}

.copy-icon-button mat-icon,
.edit-icon-button mat-icon {
  color: #e63513;
}

.delete-icon-button mat-icon {
  color: #808080;
}

.copy-icon-button:hover mat-icon,
.edit-icon-button:hover mat-icon,
.delete-icon-button:hover mat-icon {
  color: #b82a0f;
}

.expenses-table {
  width: 100%;
  min-height: 456px;
}

.expenses-table .amount {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
}

.expenses-table .table-container {
  height: calc(100vh - 274px);
}

.expenses-table .amount,
.expenses-table .print-amount {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 4px;
}

.total-amount-container {
  position: relative;
}

.total-amount-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 0;
  width: 200px;
}

.total-amount-value {
  margin-top: 16px;
}

.mat-column-actions {
  flex: 0 0 10% !important;
  width: 10% !important;
}

.no-data-row {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.no-data-row > .mat-cell {
  border: none;
  color: #6e6e6e;
}

.print-section {
  display: none;
}

.print-expenses-label {
  display: inline-block;
  margin-left: 16px;
  margin-top: 10px;
}

.print-amount {
  font-size: 20px;
}

.print-header-row {
  width: 500px;
}

.print-sales-img {
  height: 140px;
  width: 190px;
  margin: 0 9px;
  border: solid 1px gray;
}

.print-table-header-row {
  height: 30px;
  min-height: 30px;
}

.print-header {
  display: flex;
  align-items: flex-end;
}
