@use "../../../theme/variables" as v;

.example-container {
  position: relative;
  min-height: calc(100vh - 64px);
}

.example-container .header-row {
  height: 64px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit-details-card {
  margin: 1em 12em;

  & > mat-card {
    border-radius: 0.6em;
    background-color: map-get(v.$neutral-gray, 200);
  }

  .unit-details-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .unit-details {
      flex: 0 0 60%;

      .unit-details-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 16px;
        align-items: start;
      }
    }

    .unit-details,
    .unit-image {
      box-sizing: border-box;
      padding: 1em;
    }

    .unit-image {
      flex: 0 0 40%;
      text-align: right;

      img,
      .image-placeholder {
        max-width: 250px;
        width: 100%;
        border-radius: 4px;
      }

      img {
        height: auto;
        object-fit: cover;
        cursor: pointer;
      }

      .image-placeholder {
        height: 100%;
        background-color: #e0e0e0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #2a3547;
        font-size: 12px;
      }
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.table-container {
  margin: 0 190px;
  border: solid 1px #eeeeee;
  border-radius: 0.6em;

  .button-row {
    height: 100%;
    padding: 0.4em 0;

    mat-toolbar {
      gap: 8px;
    }
  }

  .expenses-table {
    height: calc(100vh - 430px);
    margin: 0 1em 1em;
    border: solid 1px #e0e0e0;
    border-radius: 0.6em;
    overflow: hidden;

    .table-scroll-wrapper {
      height: inherit;
      overflow-y: scroll;
    }

    .mat-column-actions {
      flex: 0 0 15%;
    }

    .total-amount-label {
      color: map-get(v.$neutral-colors, mid);
      font-size: 12px;
      position: absolute;
      top: 0;
    }

    .total-amount-value {
      margin-top: 16px;
    }

    .amount {
      color: map-get(v.$neutral-colors, dark);
      font-size: 16px;
      font-weight: 600;
      margin-left: 4px;
    }
  }
}

// -----

.no-data-row {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.no-data-row > .mat-cell {
  border: none;
  color: #6e6e6e;
}

.print-section {
  display: none;
}

.print-expenses-label {
  display: inline-block;
  margin-left: 16px;
  margin-top: 10px;
}

.print-amount {
  font-size: 20px;
  font-weight: 600;
  color: map-get(v.$neutral-colors, dark);
  margin-left: 4px;
}

.print-header-row {
  width: 500px;
}

.print-sales-img {
  height: 140px;
  width: 190px;
  margin: 0 9px;
  border: solid 1px gray;
}

.print-table-header-row {
  height: 30px;
  min-height: 30px;
}

.print-header {
  display: flex;
  align-items: flex-end;
}
