.image-preview-wrapper {
    position: relative;
    min-height: 320px;
    min-width: 424px;
    max-height: 660px;
    max-width: 875px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
}

.close-button:hover {
    background: #b82a0f;
    color: #fff;
}