<div class="add-expenses-container">
  <h2 mat-dialog-title>Add Expenses</h2>
  <form [formGroup]="salesForm" (ngSubmit)="onFormSubmit()">
    <mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          class="hide-spin"
          placeholder="0"
          formControlName="amount"
          [errorStateMatcher]="matcher"
        />
        <span matTextPrefix>₱&nbsp;</span>
        <mat-error>
          <span
            *ngIf="
              !salesForm.get('amount').valid && salesForm.get('amount').touched
            "
            >Please enter Amount</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Description"
          formControlName="description"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !salesForm.get('description').valid &&
              salesForm.get('description').touched
            "
            >Please enter Description</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Encoded By</mat-label>
        <input
          matInput
          placeholder="Encoded By"
          formControlName="encodedBy"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !salesForm.get('encodedBy').valid &&
              salesForm.get('encodedBy').touched
            "
            >Please enter Encoded By</span
          >
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Back</button>
      <button
        type="submit"
        [disabled]="!salesForm.valid"
        mat-flat-button
        color="primary"
      >
        <mat-icon>save</mat-icon> Save
      </button>
    </mat-dialog-actions>
  </form>
</div>
