.add-expenses-container {
    width: 600px;
}

.add-expenses-label {
    margin: 0;
}

.example-full-width {
    width: 100%;
}

.example-full-width:nth-last-child(0) {
    margin-bottom: 10px;
}

.button-row {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 18px;
}

.mat-flat-button {
    margin: 5px;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
}

.save-button {
    background-color: #e63513;
}

.save-button:not(:disabled):hover {
    background-color: #b82a0f;
}

.back-button {
    background-color: #808080;
}