.example-container {
    position: relative;
    height: calc(100vh - 60px);
}

.example-container .home-header {
    height: 84px;
}

.example-container .home-header .button-row {
    height: 100%;
    padding: 0 1.5em;
}

.search-button {
    float: left;
    margin: 15px 5px;
    color: #ffffff;
    background-color: #e63513;
}

.search-button {
    padding: 0px 20px;
}

.clear-button {
    float: left;
    margin: 15px 5px;
    color: #e63513;
}

.buttons-wrapper {
    display: flex;
    justify-content: flex-end;
}

.add-unit,
.sold-units {
    margin: 15px 0;
    background-color: #e63513;
}

.search-button:not(:disabled):hover,
.add-unit:hover,
.sold-units:hover,
.submit-button:hover {
    background-color: #b82a0f;
}

.sold-units {
    margin-right: 10px;
}

.clear-button:not(:disabled):hover {
    background-color: #e63513;
    color: #fff;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.top-charts {
    margin: 20px;
    padding: 20px;
}

.table-label {
    margin: 0 20px;
    display: inline-block;
    width: calc(100% - 40px);
}

.table-container {
    height: calc(100vh - 186px);
    margin: 0 20px 8px 20px;
}

.image-column {
    display: flex;
    justify-content: center;
}

.actions-column {
    position: relative;
    min-width: 114px;
}

.sales-img {
    height: 80px;
    width: 110px;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
}

.sales-img img {
    height: 100%;
    width: 100%;
}

.sales-img span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sold-button {
    color: #e63513;
    position: absolute;
    left: calc(50% - 68px);
    top: calc(50% - 18px);
}

.sold-button:hover {
    background: #e63513;
    color: #fff;
}

.no-data-row {
    height: 40px;
}

.no-data-row>.mat-cell {
    border: none;
    color: #6e6e6e;
    text-align: center;
}