.upload-image-container {
    width: 400px;
}

.upload-image-label {
    margin: 0;
}

.upload-image-container mat-form-field {
    width: 100%;
}

.upload-image-container .button-row {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 18px;
}

.upload-image-container .button-row button {
    margin: 0 5px;
}

.upload-button {
    background-color: #e63513;
}

.upload-button:not(:disabled):hover {
    background-color: #b82a0f;
}

.cancel-button {
    background-color: gray;
}