<div class="example-container">
  <div class="home-header">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="header-row"></div>

    <div class="section-label bg-accent text-dark">Sold Units</div>
  </div>

  <div class="table-container">
    <div class="button-row">
      <form
        [formGroup]="salesForm"
        (ngSubmit)="onFormSubmit()"
        class="sales-form"
      >
        <mat-form-field
          appearance="outline"
          [floatLabel]="floatLabelControl.value"
        >
          <mat-label>Search Units</mat-label>
          <input
            matInput
            placeholder="Input Search Word"
            formControlName="searchWord"
            [errorStateMatcher]="matcher"
            required
          />
          <mat-error>
            <span
              *ngIf="
                !salesForm.get('searchWord').valid &&
                salesForm.get('searchWord').touched
              "
              >Please enter Search Word</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          [hideRequiredMarker]="hideRequiredControl.value"
          [floatLabel]="floatLabelControl.value"
        >
          <mat-select formControlName="searchBy" [errorStateMatcher]="matcher">
            <mat-option>-- None --</mat-option>
            <mat-option value="unitCode">Unit Code</mat-option>
            <mat-option value="makeAndModel">Make and Model</mat-option>
            <mat-option value="bodyType">Body Type</mat-option>
            <mat-option value="chasisCode">Chasis Code</mat-option>
          </mat-select>
          <mat-error>
            <span
              *ngIf="
                !salesForm.get('searchBy').valid &&
                salesForm.get('searchBy').touched
              "
              >Please enter Search By</span
            >
          </mat-error>
          <mat-label>Search By</mat-label>
        </mat-form-field>

        <button
          class="square-button"
          mat-fab
          color="primary"
          type="submit"
          [disabled]="!salesForm.valid"
        >
          <mat-icon>search</mat-icon>
        </button>

        <button
          class="square-button"
          mat-fab
          [disabled]="!salesForm.valid"
          (click)="clearSearch()"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </form>
    </div>

    <div class="table-wrapper">
      <div class="table-scroll-wrapper">
        <table
          mat-table
          [dataSource]="data"
          class="units-sold-table"
          matSort
          matSortActive="unitCode"
          matSortDisableClear
          matSortDirection="asc"
        >
          <ng-container matColumnDef="unitCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Code</th>
            <td mat-cell *matCellDef="let row">{{ row.unitCode }}</td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="text-center">Image</th>
            <td mat-cell *matCellDef="let row" class="image-column">
              <div class="sales-img">
                <img
                  *ngIf="row.imageFile.imageUrl?.length > 0"
                  [src]="environmentApiUrl + row.imageFile.imageUrl"
                  alt="{{ row.imageFile.id }}"
                />
                <span *ngIf="row.imageFile.imageUrl?.length <= 0"
                  >No Image</span
                >
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="makeAndModel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Make and Model
            </th>
            <td mat-cell *matCellDef="let row">{{ row.makeAndModel }}</td>
          </ng-container>

          <ng-container matColumnDef="bodyType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Body Type</th>
            <td mat-cell *matCellDef="let row">{{ row.bodyType }}</td>
          </ng-container>

          <ng-container matColumnDef="chasisCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Chasis Code
            </th>
            <td mat-cell *matCellDef="let row">{{ row.chasisCode }}</td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [routerLink]="['/sales-details/', row._id]"
          ></tr>
          <tr class="mat-row no-data-row" *matNoDataRow>
            <td class="mat-cell" [colSpan]="5">No units found</td>
          </tr>
        </table>
        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[10, 50, 100]"
          class="mat-paginator-sticky"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
