@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

$font-family-jakarta: "Plus Jakarta Sans", sans-serif;

$neutral-colors: (
  light: #f5f5f5,
  mid: #9e9e9e,
  dark: #212121,
);

$neutral-gray: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
);

$text-color: #2a3547;
$text-color-light: #fffdfc;

// Status colors
$success: #4caf50;
$warning: #ffc107;
$error: #d32f2f;

$primary: mat.define-palette(mat.$red-palette, 700, 500, 900);
$primary: map-merge(
  $primary,
  (
    100: #fdf0f0,
    500: #e63513,
  )
);

$accent: mat.define-palette(mat.$red-palette, 100);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: -2,
  )
);

@include mat.core();
@include mat.form-field-theme($theme);
@include mat.input-theme($theme);
@include mat.button-theme($theme);
@include mat.toolbar-theme($theme);
@include mat.all-component-themes($theme);

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/MaterialIcons.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html,
body,
.mat-typography {
  color: $text-color;
  font-family: $font-family-jakarta;
}

// Utility Classes
.bg-primary {
  background-color: mat.get-color-from-palette($primary);
  color: white;
}
.bg-accent {
  background-color: mat.get-color-from-palette($accent);
  color: white;
}
.bg-warn {
  background-color: mat.get-color-from-palette($warn);
  color: white;
}
.text-neutral {
  color: map-get($neutral-colors, mid);
}
.text-dark {
  color: map-get($neutral-colors, dark);
}

// Component Overrides
.mat-mdc-raised-button.mat-mdc-raised-button {
  height: 40px;
}

.mat-mdc-fab.square-button {
  width: 40px;
  height: 40px;
  border-radius: 0.6em !important;
}

.mat-mdc-list-item {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.mat-mdc-list-item:hover,
.mat-mdc-list-item:focus {
  background-color: mat.get-color-from-palette($primary);
  color: $text-color-light;
  cursor: pointer;
}

.mat-mdc-list-item .mdc-list-item__content .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  gap: 8px;

  mat-icon {
    font-size: 22px;
  }

  mat-icon.flip-horizontal {
    transform: scaleX(-1);
  }

  .nav-text {
    line-height: 1;
  }
}

.mat-mdc-list-item:hover .mdc-list-item__content .mdc-list-item__primary-text,
.mat-mdc-list-item:focus .mdc-list-item__content .mdc-list-item__primary-text {
  color: $text-color-light;
}

.mat-mdc-row:hover {
  background-color: mat.get-color-from-palette($primary, 100);
}

.mat-mdc-cell {
  cursor: pointer;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-mdc-paginator-page-size-select .mdc-notched-outline__leading,
.mat-mdc-paginator-page-size-select .mdc-notched-outline__trailing {
  border: none;
}
