@use "@angular/material" as mat;

$RichAnnApp-primary: mat.define-palette(mat.$indigo-palette);
$RichAnnApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$RichAnnApp-warn: mat.define-palette(mat.$red-palette);

$RichAnnApp-theme: mat.define-light-theme(
  (
    color: (
      primary: $RichAnnApp-primary,
      accent: $RichAnnApp-accent,
      warn: $RichAnnApp-warn,
    ),
  )
);

@include mat.core();

@include mat.form-field-theme($RichAnnApp-theme);
@include mat.input-theme($RichAnnApp-theme);

@include mat.button-theme($RichAnnApp-theme);
@include mat.toolbar-theme($RichAnnApp-theme);

@include mat.all-component-themes($RichAnnApp-theme);
