a {
    color: #ffffff;
    margin: 5px;
}

.confirm-button {
    background-color: #e63513;
}

.confirm-button:hover {
    background-color: #b82a0f;
}

.cancel-button {
    background-color: #808080;
}

.button-row {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}