$font-family-jakarta: "Plus Jakarta Sans", sans-serif;

$neutral-colors: (
  light: #f5f5f5,
  mid: #9e9e9e,
  dark: #212121,
);

$neutral-gray: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
);

$text-color: #2a3547;
$text-color-light: #fffdfc;

// Status colors
$success: #4caf50;
$warning: #ffc107;
$error: #d32f2f;
